@import '../../styles/settings';

.header{
  position: fixed;
  z-index: 10;
  width: 100%;
  //grid-area: header;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 24px 16px 24px;
  &__trigger-magic{
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    &:before{
      width: 26px;
      height: 26px;
      content: '';
      background-repeat: no-repeat;
      background-image: url("../../images/navigation-more-ico.svg");
      background-position: center;
      background-size: contain;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover:before{
      filter: brightness(0) invert(1);
    }
  }
  &--menu-opened{
    .header__trigger-magic:before{
      background-image: url("../../images/close-ico.svg");
    }
  }
}
