@import '../../styles/settings';

.footer {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  background: transparent;
  //grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(255,255,255,0) 75%);
  .copyright{
    margin-top: 50px;
    a {
      font-weight: bold;
    }
  }
}
